.topline {
    border-top: 1px solid #ddd;
}
.bottomline{
    border-bottom: 1px solid #ddd;
}
.leftline {
    border-left: 1px solid #ddd;
}
.rightline {
    border-right: 1px solid #ddd;
}

/* Customize the  navbar links to be fill the entire space of the .navbar*/
.menu .navbar .navbar-inner{
    padding: 0;
}
.menu .navbar .nav{
    margin: 0;
    display: table;
    width: 100%;
}
.menu .navbar .nav li{
    display: table-cell;
    width: 1%;
    float: none;
}
.menu .navbar .nav li a{
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75)
}
.menu .navbar .nav li:first-child a{
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.menu .navbar .nav li:last-child a {
    border-right:  0;
    border-radius:  0 3px 3px 0;
}

