<!doctype html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"></link>
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2013 by <a href="joinjoy.me/blog/about/">baijian</a>
            {% endblock %}
        </div>
    </body>
</html>
