{% extends "layout.html" %}

{% block title %}
    - Repos
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid" style="margin-bottom:6px;">
        <a href="">baijian</a>&nbsp/&nbsp<a href="">fds</a>
    </div>
    <div class="row-fluid">
        <div class="navbar-">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="">Code</a></li>
                        <li><a href="">Issue</a></li>
                        <li><a href="">Wiki</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div style="margin-top:6px;margin-bottom:6px;" class="row-fluid bottomline topline leftline rightline">
        <p>A project Description</p>
    </div>

    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li><button></button></li>
            <li class="active"><a href="#tab1" data-toggle="tab">Files</a></li>
            <li><a href="#tab2" data-toggle="tab">Commits</a></li>
            <li><a href="#tab3" data-toggle="tab">Tags</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="well well-small"><a href=""><i class="icon-book"></i> fdafa</a></div>
                <div class="well well-small"><a href=""><i class="icon-book"></i> fdafa</a></div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="well well-small"><a href=""><i class="icon-book"></i> fdafa</a></div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="well well-small"><a href=""><i class="icon-book"></i> aaa</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


